.Chekout {
  margin: auto;
  width: 80%;
  max-width: 500px;
  min-height: 400px;
  background-color: rgb(235, 184, 137);
  border: 1px solid rgb(202, 151, 104);
  box-shadow: 1px 2px 5px rgb(173, 121, 71);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.Chekout h4 {
  text-align: center;
  font: inherit;
  font-size: 22px;
  color: rgb(148, 104, 63);
  font-weight: 500;
}

.Chekout form {
  display: flex;
  flex-direction: column;
}

.Invalid {
  border: 1px solid red;
  box-shadow: 0 0 15px red;
}
